s2/HMIN210/td/td4/Exercice4_Q2/Exercice4_Q2/Web References/IbisHotelServices/IbisServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Authentification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthentificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthentificationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="nbPersonne" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOffresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOffreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOffreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="client" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MakeReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeReservationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthentificationSoapIn">
    <wsdl:part name="parameters" element="tns:Authentification" />
  </wsdl:message>
  <wsdl:message name="AuthentificationSoapOut">
    <wsdl:part name="parameters" element="tns:AuthentificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetOffresSoapIn">
    <wsdl:part name="parameters" element="tns:GetOffres" />
  </wsdl:message>
  <wsdl:message name="GetOffresSoapOut">
    <wsdl:part name="parameters" element="tns:GetOffresResponse" />
  </wsdl:message>
  <wsdl:message name="GetOffreSoapIn">
    <wsdl:part name="parameters" element="tns:GetOffre" />
  </wsdl:message>
  <wsdl:message name="GetOffreSoapOut">
    <wsdl:part name="parameters" element="tns:GetOffreResponse" />
  </wsdl:message>
  <wsdl:message name="MakeReservationSoapIn">
    <wsdl:part name="parameters" element="tns:MakeReservation" />
  </wsdl:message>
  <wsdl:message name="MakeReservationSoapOut">
    <wsdl:part name="parameters" element="tns:MakeReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="IbisServicesSoap">
    <wsdl:operation name="Authentification">
      <wsdl:input message="tns:AuthentificationSoapIn" />
      <wsdl:output message="tns:AuthentificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOffres">
      <wsdl:input message="tns:GetOffresSoapIn" />
      <wsdl:output message="tns:GetOffresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOffre">
      <wsdl:input message="tns:GetOffreSoapIn" />
      <wsdl:output message="tns:GetOffreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <wsdl:input message="tns:MakeReservationSoapIn" />
      <wsdl:output message="tns:MakeReservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IbisServicesSoap" type="tns:IbisServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentification">
      <soap:operation soapAction="http://tempuri.org/Authentification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffres">
      <soap:operation soapAction="http://tempuri.org/GetOffres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffre">
      <soap:operation soapAction="http://tempuri.org/GetOffre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <soap:operation soapAction="http://tempuri.org/MakeReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IbisServicesSoap12" type="tns:IbisServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authentification">
      <soap12:operation soapAction="http://tempuri.org/Authentification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffres">
      <soap12:operation soapAction="http://tempuri.org/GetOffres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffre">
      <soap12:operation soapAction="http://tempuri.org/GetOffre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <soap12:operation soapAction="http://tempuri.org/MakeReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IbisServices">
    <wsdl:port name="IbisServicesSoap" binding="tns:IbisServicesSoap">
      <soap:address location="https://localhost:44314/WebServices/IbisServices.asmx" />
    </wsdl:port>
    <wsdl:port name="IbisServicesSoap12" binding="tns:IbisServicesSoap12">
      <soap12:address location="https://localhost:44314/WebServices/IbisServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>